<ons-page ng-controller="CalculadoraNutricionalMenu" class="intro internal-tab bg-medic">
    <ons-toolbar>
        <div class="left">
            <ons-back-button></ons-back-button>
        </div>
        <div class="center">
            <img class="img-logo-header" src="img/logo.png"/>
        </div>

        <div class="right">
            <!--
            <ons-toolbar-button ng-click="goToCategory()">
                <img src="img/info-icon.png" alt="">
            </ons-toolbar-button>-->
        </div>
    </ons-toolbar>


    <div class="intro-content">
        <div class="center-content">
            <div class="menu-section">
                <p class="text">Para comenzar elige alguna de las opciones</p>
                <ons-button modifier="large" class="btn-yellow" ng-click="goToForm('views/calculadora_nutricional.html')">Niños hasta 5 años</ons-button>
                <ons-button modifier="large" class="btn-yellow" ng-click="goToForm('views/calculadora_nutricional_adolecentes.html')">Entre 5 a 19 años</ons-button>
                <!--<ons-button modifier="large" class="btn-yellow" ng-click="goToForm('calculadora_nutricional.html')">IMC</ons-button>-->
                <!--<ons-button modifier="large" class="btn-yellow" ng-click="goToForm('calculadora_nutricional.html')">Re-importar Base de Datos</ons-button>-->
            </div>
        </div>
    </div>
    <!--
    <ons-list-item modifier="chevron" ng-click="goToForm('calculadora_nutricional.html')">
        <div class="left">
            <div class="center">
                <div class="list__item__title">Niños menores de 5 años</div>
            </div>
        </div>
    </ons-list-item>

    <ons-list-item modifier="chevron" ng-click="goToForm('calculadora_nutricional.html')">
        <div class="left">
            <div class="center">
                <div class="list__item__title">Niños de 5 a 19 años</div>
            </div>
        </div>
    </ons-list-item>

    <ons-list-item modifier="chevron" ng-click="goToForm('calculadora_nutricional.html')">
        <div class="left">
            <div class="center">
                <div class="list__item__title">IMC</div>
            </div>
        </div>
    </ons-list-item>-->

    <!--
    <ons-list-item modifier="chevron" ng-click="goToForm('calculadora_nutricional.html')">
        <div class="left">
            <div class="center">
                <div class="list__item__title">Periodo de Embarazo</div>
            </div>
        </div>
    </ons-list-item>

    <ons-list-item modifier="chevron" ng-click="goToForm('calculadora_nutricional.html')">
        <div class="left">
            <div class="center">
                <div class="list__item__title">Adultos Mayores</div>
            </div>
        </div>
    </ons-list-item>-->
</ons-page>